html{
    box-sizing: border-box;
}
*,*:after,*:before{
    box-sizing: inherit;
}
body{
    color: black;
    margin: 0;
    font-family:  'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img{
    width: 300px;
}
/* profile */
header{
    background-color: rgb(79, 108, 81);
}
h2{
    font-size: 45px;
}
h1{
    font-size: 100px;
    color:white;
}
h1, h2{
    
    font-family: 'Caveat', cursive;
    margin:0;
    font-weight: 400;
    line-height: 1;
}
.content{
    max-width: 800px;
    margin:0 auto;
    width: 85%;
    padding: 10px;
}
/*projects */   

.projects{
    background-color: skyblue;
}
.projects .btn{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    background: rgb(29, 31, 33);
    color: white;
}
.project-item{
    overflow: hidden;
    margin-bottom: 30px;
}
/*certificates*/
.certificates{
    height: max-content;
    width: 100%;
    background-color: rgb(68, 119, 147);
}
.images{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.certificates img{
    width: 100%;
    height: 50%;
}

/*work*/
.work{
    background-color:rgb(110, 107, 123);
    padding: 10px;
}
.content1{
    max-width: 800px;
    margin:0;
    width: 100%;
    padding: 10px;
}
.content-list{
    border-top: 1px dashed black;
}
/* .content-list:last-of-type{
    border-bottom: none;
} */
.work .content1{
    border: 2px solid black; 
}
.work h3{
    text-decoration: underline;
}
/*education*/
.education{
   background-color: rgb(165, 183, 43);
}
.education h3{
    text-decoration: underline;
}

/*footer*/
footer{
    background-color: rgb(79, 108, 81);
}
footer ul{
    list-style-type: none;
    padding: 0;
}
footer li{
    padding-right: 20px;
}
footer a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width:800px){
    h1,h2{
        text-align: center;
    }
    .project-item img{
        float: left;
        margin-right: 10px;
    }
    .content-list{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 10px;
    }
    footer ul{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:580px){
    h1{
        font-size: 70px;
    }
    h1,h2{
        line-height: 0.8;
    }
    h2{
        font-size: 30px;
    }
}